u{
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
    margin: 0px;
    padding: 0px;
    font: 20px/1.5, 'Nunito', sans-serif;   
}
main{
    margin: 10px;
}
img{
    width: 500px;
}
.try{
    text-align: center;
}